
<h1>Hang Man</h1>

<h2>@Model.GetGameWord()</h2>

<h3>Wrong Guesses</h3>
<p>@Model.GetWrongGuesses()</p>

@Html.Raw(Model.GetImageHtml())

<p>
@foreach (var letter in Model.GetWordOutput()) {
  <span class="outputLetter">@letter</span>
}
</p>

<h3>Correct Guesses</h3>
<ul>
  @foreach (var guess in Model.GetCorrectGuesses()) {
    <li>@guess</li>
  }
</ul>

<h3>Letters you have guessed</h3>
<ul>
  @foreach (var letter in Model.GetLettersGuessed()) {
    <li>@letter</li>
  }
</ul>

<form action="/response" method="post">
  <input type="text" name="letter" id="letter">
  <button type="submit">GUESS A LETTER</button>
</form>
